@model SnowboarderDetailViewModel
@{
    ViewData["Title"] = "Snowboarder";
}

<div class="row p-2">
    <div class="col">
        <div><h5>Stammdaten</h5></div>
    </div>
    <div class="col">

    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Mitgliedsnummer:</div>
    </div>
    <div class="col">
        <div>@Model.Snowboarder.Mitgliedsnummer</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Nachname:</div>
    </div>
    <div class="col">
        <div>@Model.Snowboarder.Nachname</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Vorname:</div>
    </div>
    <div class="col">
        <div>@Model.Snowboarder.Vorname</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Künstlername:</div>
    </div>
    <div class="col">
        <div>@Model.Snowboarder.Kuenstlername</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Geburtstag</div>
    </div>
    <div class="col">
        <div>@Model.Snowboarder.Geburtstag.Value.ToShortDateString()</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <a asp-controller="Snowboarder" asp-action="Update" asp-route-snowboarderID="@Model.Snowboarder.Mitgliedsnummer" class="btn btn-sm btn-primary" >
            Bearbeiten
        </a>
    </div>
    <div class="col">

    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div><h5>HausBerg</h5></div>
    </div>
    <div class="col">
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Name:</div>
    </div>
    <div class="col">
        <div>@Model.Berg.Name</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Gebirge:</div>
    </div>
    <div class="col">
        <div>@Model.Berg.Gebirge</div>
    </div>
</div>
<div class="row p-2">
    <div class="col">
        <div>Schwierigkeit:</div>
    </div>
    <div class="col">
        <div>@Model.Berg.Schwierigkeit</div>
    </div>
</div>
<div class="row">
    <div class="mt-3"><h5>Profi-Information</h5></div>
    <hr />
</div>

@if (Model.Profi != null)
{

}
else
{
    <div class="mt-3"><p>Dieser Snowboarder ist kein Profi.</p></div>
}
<a asp-controller="Profi" asp-action="Add" class="btn btn-primary btn-sm">Hinzufügen</a>
<div class="row">
    <div class="mt-3"><h5>Sponsoren</h5></div>
    <hr />
</div>
@if (Model.Sponsoring != null)
{
        <table class="table">
        <thead>
            <tr>
                <th>
                    Sponsorname
                </th>
                <th>
                    Vertragsart
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var sponsor in Model.Sponsoring)
            {
                <tr>
                    <td>@sponsor.Sponsor</td>
                    <td>@sponsor.Vertragsart</td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <div class="mt-3"><p>Dieser Snowboarder hat kein Sponsoring.</p></div>
}
<a asp-controller="Sponsor" asp-action="Add" class="btn btn-primary btn-sm">Hinzufügen</a>