@model SnowboarderDetailViewModel
@{
    ViewData["Title"] = "Snowboarder";
}

<div class="hstack gap-5">
    <div class="vstack gap-2">
        <div><h5>Stammdaten</h5></div>
        <div>Mitgliedsnummer:</div>
        <div>Nachname:</div>
        <div>Vorname:</div>
        <div>Künstlername:</div>
        <div>Geburtstag:</div>
        <div class="mt-1"><h5>HausBerg</h5></div>
        <div>Name:</div>
        <div>Gebirge:</div>
        <div>Schwierigkeit:</div>
    </div>
    <div class="vstack gap-2">
        <div class="mt-auto"></div>
        <div>@Model.snowboarder.Mitgliednummer</div>
        <div>@Model.snowboarder.Nachname</div>
        <div>@Model.snowboarder.Vorname</div>
        <div>@Model.snowboarder.Kuenstlername</div>
        <div>@Model.snowboarder.Geburtstag.Value.ToShortDateString()</div>
        <div class="mt-auto"></div>
        <div>@Model.berg.Name</div>
        <div>@Model.berg.Gebirge</div>
        <div>@Model.berg.Schwierigkeit</div>
    </div>
</div>
